{{ $passphrase := promptStringOnce . "passphrase" "passphrase" -}}

data:
    passphrase: {{ $passphrase | quote }}

encryption: gpg
gpg:
  symmetric: true
  args:
    - --quiet
    - --batch
    - --passphrase
    - {{ $passphrase | quote }}
    - --no-symkey-cache
git:
  autoPush: true
edit:
  command: hx
pinentry:
  command: pinentry
